[Unit]
Description=Hamutay: post a backup failure (%i) to the plaza

[Service]
Type=oneshot
WorkingDirectory=/home/tony/projects/hamutay
ExecStart=/home/tony/projects/hamutay/deploy/backup-alert.sh %i
